<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Alexandria.dll" value=""/>
		<add key="Alexandria.AlbumArtDownloader.dll" value=""/>
		<add key="Alexandria.Amazon.dll" value=""/>
		<add key="Alexandria.AsciiGenerator.dll" value=""/>
		<add key="Alexandria.CompactDiscTools.dll" value=""/>
		<add key="Alexandria.Db4o.dll" value=""/>
		<add key="Alexandria.Fmod.dll" value=""/>
		<add key="Alexandria.FreeDB.dll" value=""/>
		<add key="Alexandria.Google.dll" value=""/>
		<add key="Alexandria.Imdb.dll" value=""/>
		<add key="Alexandria.LastFM.dll" value=""/>
		<add key="Alexandria.MediaInfo.dll" value=""/>
		<add key="Alexandria.Mp3Tunes.dll" value=""/>
		<add key="Alexandria.MusicBrainz.dll" value=""/>
		<add key="Alexandria.MusicDns.dll" value=""/>
		<add key="Alexandria.Playlist.dll" value=""/>
		<add key="Alexandria.SQLite.dll" value=""/>
		<add key="Alexandria.TagLib.dll" value=""/>
		<add key="Alexandria.Tao.dll" value=""/>

		<add key="OpenDirectoryRoot" value="C:\Documents and Settings\Dan\My Documents\My Music\test"/>
	</appSettings>
</configuration>