@using HallOfBeorn.Models
@model BrowseViewModel

@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>
<div style="padding-top:20px;">

@foreach (var product in @Model.Products)
{
    <div style="display:inline-block;margin:4px;">
        <div style="font-weight:bold;">@product.Name</div>
        @*<div>@product.Code</div>*@
        <img src="@product.ImagePath" style="height:@product.ImageHeight;width:@product.ImageWidth;"/>
    </div>
}

</div>