<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="Data Source=C:\Program Files\Alexandria\data\Catalog.db;New=True;UTF8Encoding=True;Version=3" />
  </connectionStrings>
	<appSettings>
    <!-- Configuration Settings -->
    <add key="Config.Directory.Audio" value="G:\Audio" />
    <add key="Config.Directory.Data" value="C:\Program Files\Alexandria\data" />
    <add key="Config.Directory.Image" value="G:\Image" />
    <add key="Config.Directory.Playlist" value="G:\" />
    <add key="Config.Directory.Text" value="G:\Text" />
    <add key="Config.Directory.Video" value="G:\Video" />
    <add key="Config.Formats.Playlist" value="xspf,m3u,pls,asx" />
    <add key="Config.Formats.Audio" value="flac,ogg,mp3,wav,aac,m4a,wma" />
    <add key="Config.Formats.Image" value="png,bmp,jpg,jpe,jpeg,gif,tif,tiff,pdf" />
    <add key="Config.Formats.Text" value="txt,htm,html,xml,csv" />
    <add key="Config.Formats.Video" value="ogg,divx,xvid,avi,wmv" />
    <add key="Config.UI.MaxSorts" value="6" />
    
    <add key="Plugin.Extensions.Fmod" value="Alexandria.Fmod.dll" />    
    <add key="Plugin.Extensions.SQLite" value="Alexandria.SQLite.dll"/>
    <add key="Plugin.Extensions.Playlist" value="Alexandria.Playlist.dll"/>
    <add key="Plugin.Extensions.MediaInfo" value="Alexandria.MediaInfo.dll" />
    <add key="Plugin.Extensions.CompactDisc" value="Alexandria.CompactDiscTools.dll" />
    <add key="Plugin.Extensions.TagLib" value="Alexandria.TagLib.dll"/>

    <!-- Disabled Extensions -->
    <!-- <add key="Plugin.Extensions.Tao" value="Alexandria.Tao.dll"/> -->
    <!-- <add key="Plugin.Extensions.AsciiArt" value="Alexandria.AsciiGenerator.dll"/> -->
    <!-- <add key="Plugin.Core.Database" value="Alexandria.Db4o.dll"/> -->

    <add key="Plugin.Services.LastFM" value="Alexandria.LastFM.dll" />
    <add key="Plugin.Services.Mp3Tunes" value="Alexandria.Mp3Tunes.dll" />
    <add key="Plugin.Services.MusicBrainz" value="Alexandria.MusicBrainz.dll"/>
    <add key="Plugin.Services.MusicDns" value="Alexandria.MusicDns.dll"/>

    <!-- Disabled Services -->
    <!-- <add key="Plugin.Services.Imdb" value="Alexandria.Imdb.dll" /> -->
    <!-- <add key="Plugin.Services.FreeDB" value="Alexandria.FreeDB.dll" /> -->
    <!-- <add key="Plugin.Services.AlbumArt" value="Alexandria.AlbumArtDownloader.dll" /> -->
    <!-- <add key="Plugin.Services.Google" value="Alexandria.Google.dll"/> -->
    <!-- <add key="Plugin.Services.Amazon" value="Alexandria.Amazon.dll"/> -->

    <!-- NHibernate Settings -->
    <add key="NHibernate.Mapping.Assembly" value="Alexandria.Model.Mapping"/>
  </appSettings>
</configuration>