<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Database Path" value="C:\Documents and Settings\All Users\Application Data\Alexandria\"/>
		<add key="Database Name" value="Alexandria.db"/>
		<add key="Auto Update" value="false"/>
	</appSettings>
</configuration>
