<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AudioPlayerPluginName" value="Alexandria.Fmod.dll"/>
		<add key="DataFactoryPluginName" value="Alexandria.SQLite.dll"/>
		<add key="TagEnginePluginName" value="Alexandria.TagLib.dll"/>
		<add key="MetadataProviderPluginName" value="Alexandria.MusicBrainz.dll"/>
		<add key="DatabaseDirectory" value="C:\Documents and Settings\All Users\Application Data\Alexandria\" />
		<add key="DatabaseFile" value="Alexandria.db" />
	</appSettings>
</configuration>