<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AudioPlayerPluginName" value="AlexandriaFmod.dll"/>
    <add key="DataFactoryPluginName" value="AlexandriaDb4o.dll"/>
    <add key="TagEnginePluginName" value="AlexandriaTagLib.dll"/>
    <add key="MetadataProviderPluginName" value="AlexandriaMusicBrainz.dll"/>
  </appSettings>
</configuration>