<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Enabled" value="true"/>
		<add key="DatabaseDirectory" value="C:\Documents and Settings\All Users\Application Data\Alexandria\"/>
		<add key="DatabaseName" value="Alexandria.db"/>
		<add key="DatabaseUpdate" value="Automatic"/>
		<add key="DatabaseSync" value="Manual"/>
	</appSettings>
</configuration>